<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" th:href="@{/}">EmpleosApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
        <a class="nav-link" th:href="@{/vacantes/indexPaginate}">Vacantes</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
        <a class="nav-link" th:href="@{/categorias/index}">Categorias</a>
      </li>
      <li class="nav-item">
	      <a class="nav-link" th:href="@{/usuarios/index}" >Usuarios</a>
	  </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
        <a class="nav-link" href="#">Menu 2</a>
      </li>          
    </ul>  
    
<!--     sec:authorize="isAnonymous() solo renderiza los botones si el usuario no ha ingresado con su cuenta -->
<div sec:authorize="isAnonymous()">
<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp;
<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>
</div>
    <!-- Renderizar atributos de la sesion con Thymeleaf -->
<!--    <span th:if="${session.usuario != null}" class="text-light" th:text="'Bienvenido ' + ${session.usuario.nombre}"></span>&nbsp;  -->
<!-- Renderizar en la vista el nombre del usuario que inicio sesión -->
<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>
<!--    HACE LOGOUT SOLO CON LA CONFIGURACION DE SPRING SECURITY, NO EJECUTAMOS NINGUN METODO EN EL CONTROLADOR -->
    <a class="btn btn-primary" th:href="@{/logout}">Salir</a>
  </div>
</nav>