
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header>

		<!-- PEDAZO DE CODIGO EXTERNO CON LAYOUTS -->
		<div th:insert="fragments/menu.html :: menu-principal"></div>
	</header>

	<main role="main"> <!-- Main jumbotron for a primary marketing message or call to action -->
	
	<div class="jumbotron">
		<div class="container">
			<h3>Encuentra el trabajo que andas buscando.</h3>
			Puedes buscar por descripción y categoría.
		<!-- 	${search} definido en setGenericos de HomeController (es del tipo Vacante) -->
			<form class="form-inline" th:action="@{/search}" method="get" th:object="${search}">
				<input type="text" class="form-control mb-3"
					th:field="*{descripcion}" placeholder="Escriba una búsqueda">&nbsp;
				<select th:field="*{categoria.id}" class="custom-select custom-select mb-3">
					<option th:value="${null}" selected>Seleccione una categoría</option>
					   <option th:each="categoria: ${categorias}"
								th:value="${categoria.id}"
        						th:text="${categoria.nombre}"></option>

				</select>&nbsp;
				<button type="submit" class="btn btn-primary mb-3">Buscar</button>
			</form>
		</div>
	</div>
	<hr>

	<div class="container">
		<h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
		<hr>
		<div class="row" th:each="vacante: ${vacantes}">
			<div class="col-md-3">
				<!--    /logos/ es una carpeta definida en archivo WebConfig  -->
				<img class="rounded mx-auto d-block"
					th:src="@{/logos/{img} (img=${vacante.imagen})}"
					alt="Generic placeholder image" width="220" height="220">
			</div>
			<div class="col-md-9">
				<h2 th:text="${vacante.nombre}"></h2>
				<h6 class="card-title">
					<strong>Categoria: </strong> <span strong
						th:text="${vacante.categoria.nombre}"></span>
				</h6>
				<h6 class="card-title">
					<strong>Publicado: </strong> <span strong
						th:text="${vacante.fecha}"></span>
				</h6>
				<h2 th:text="${vacante.descripcion}"></h2>
				<a th:href="@{/vacantes/view/{id} (id=${vacante.id})}"
					class="btn btn-success">Detalle</a>

			</div>
		</div>

		<hr>
	</div>
	<!-- /container --> </main>

	<!-- PEDAZO DE CODIGO EXTERNO CON LAYOUTS -->
	<div th:insert="fragments/footer.html :: pie-pagina"></div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>








